.maze{
  position: relative;
  background-color: #f3f1ec;
  width: 706px;
  height:237px;
  margin:0 auto;
  font-size: 1px;
}
.walls{
  position: absolute;
  background-color: #e1d4ae;
}
.thinwalls{
  position: absolute;
  background-color: #e4dfcf;
}
.person{
  top: 50%;
  left: 50%;
  height: 10px;
  width: 10px;
  position: absolute;
}
.head{
  top: 50%;
  left: 50%;
  position: absolute;
  height: 20px;
  width: 20px;
  z-index: 1;
}
.entrance, .finish {
background: url('./arrow.png') 50% 50% no-repeat;
position: absolute;
}
.entrance{
  top: 220px;
  left: 326px;
  height: 19px;
  width: 16px;
}
.finish{
  top: 0;
  left: 519px;
  height: 19px;
  width: 20px;
}
